<ion-content>

  <ion-col size="6">
    <a href="" class="absolute top-24 left-5 z-[1] flex items-center justify-center w-12 h-12 
          rounded-full bg-color-primary hover:bg-color-primary-100 transition-colors">
      <ion-icon style="width: 30px; height: 40px;" name="arrow-back-outline"></ion-icon>
    </a>
  </ion-col>
  <main class="w-full h-screen p-4 flex items-center">

    <div class="w-full h-full md:max-h-[600px] flex flex-col items-center justify-between">
      <div class="flex flex-col items-center">
        <br><br><br>
        <img src="assets/Error-icon.svg" class="size-[160px]" />
        <p class="font-thunder font-semibold text-7xl text-primary text-center">Lo sentimos...</p>
        <p class="font-thunder font-semibold text-4xl text-neutral-50 text-center">Pagina no encontrada 😥</p>
      </div>
    </div>

  </main>

</ion-content>