<ion-list class="bg-gradient-to-r from-[#1d335d] via-[#5875ad] to-[#7a95cd]
              dark:bg-[#12171f] p-4">
  <ion-item>
    <ion-label>{{ 'Seleccionar idioma' | translate }}</ion-label>
    <ion-select [(ngModel)]="currentLang" (ionChange)="cambiarIdioma($event)">
      <ion-select-option *ngFor="let lang of langs" [value]="lang">{{ lang }}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="flex items-center justify-center">
    <button (click)="toggleTheme()" type="button" class="hover:bg-color-primary-100 rounded-full">

      <!--El hidde- w5 h5 define el tamaño-->
      <svg id="theme-toggle-dark-icon" [class.hidden]="themeService.getCurrentTheme() === 'dark'" class="hidden w-8 h-8"
        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
      </svg>
      <svg id="theme-toggle-light-icon" [class.hidden]="themeService.getCurrentTheme() === 'light'"
        class="hidden w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
          fill-rule="evenodd" clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
  
  <button (click)="cambiarEmail()" [disabled]="isSubmittingEmail"
    class="rounded-md bg-color-azul hover:bg-color-azul-100 px-3 py-2 text-xs sm:px-5 sm:py-2.5 sm:text-sm font-medium text-black transition w-full max-w-xs">
    <span *ngIf="!isSubmittingEmail">
      {{ "Cambiar Email" | translate }}
    </span>
    <ion-spinner *ngIf="isSubmittingEmail" name="dots"></ion-spinner>
  </button>
  <br><br>
  <button (click)="cambiarContrasena()" [disabled]="isSubmitting"
    class="rounded-md bg-color-azul hover:bg-color-azul-100 px-3 py-2 text-xs sm:px-5 sm:py-2.5 sm:text-sm font-medium text-black transition w-full max-w-xs">
    <span *ngIf="!isSubmitting">
      {{ "Cambiar Contraseña" | translate }}
    </span>
    <ion-spinner *ngIf="isSubmitting" name="dots"></ion-spinner>
  </button>
  <br><br>
  <button (click)="openModalEliminarCuenta()"
    class="rounded-md bg-color-azul hover:bg-color-azul-100 px-3 py-2 text-xs sm:px-5 sm:py-2.5 sm:text-sm font-medium text-black transition w-full max-w-xs">
    {{ "Eliminar cuenta" | translate }}
  </button>
  <br><br>
  <a href="profile"
    class="rounded-md bg-color-azul hover:bg-color-azul-100 px-3 py-2 text-xs sm:px-5 sm:py-2.5 sm:text-sm font-medium text-black transition w-full max-w-xs block text-center no-underline">
    {{ "Mi perfil" | translate }}
  </a>

  <!--Modal de eliminar cuenta -->
  <div *ngIf="showModalEliminarCuenta" class="fixed inset-0 py-4 z-[100]
            bg-gradient-to-r from-[#1d335d] via-[#5875ad] to-[#7a95cd]
            dark:bg-[#12171f] dark:bg-none flex justify-center items-center">
    <div class="formularios w-full max-h-[90vh] overflow-y-auto">
      <h1 class="rounded-xl left-0 w-full py-4 z-[100]
            bg-gradient-to-r from-[#1d335d] via-[#5875ad] to-[#7a95cd]
            dark:bg-[#2d3748] dark:bg-none
            transition-colors duration-300 text-black dark:text-white">
        {{"Cuenta eliminar" | translate}}
      </h1>
      <ion-row class="ion-padding-bottom">
        <ion-col size="12">
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="eliminarCuenta()" color="danger" class="gradient-btn" mode="ios" type="button"
                [disabled]="deletingAccount">

                <span *ngIf="!deletingAccount">
                  {{ "Borrar" | translate }}
                </span>

                <span *ngIf="deletingAccount">
                  <ion-spinner name="crescent" class="mr-2"></ion-spinner>
                  {{ "Eliminando..." | translate }}
                </span>

              </ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button (click)="closeModalEliminarCuenta()" class="gradient-btn" mode="ios" color="medium"
                type="button" [disabled]="deletingAccount">
                {{ "Cancelar" | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-list>