<ion-content [scrollY]="true" [fullscreen]="true">

  <ion-col size="6">
    <a routerLink="/login" class="absolute top-24 left-5 z-[1] flex items-center justify-center w-12 h-12 
          rounded-full bg-color-primary hover:bg-color-primary-100 transition-colors">
      <ion-icon style="width: 30px; height: 40px;" name="arrow-back-outline"></ion-icon>
    </a>
  </ion-col>

  <div class="min-h-screen flex flex-col justify-center items-center pb-20">

    <form class="formularios" [formGroup]="form" (ngSubmit)="confirmarPassword()" (keypress.enter)="confirmarPassword()">

      <div class="flex justify-center">
        <img width="120px" src="assets/logo.webp" alt="">
      </div>

      <!-- Contraseña -->
      <div class="input-formularios">
        <ion-label>{{ "Nueva contraseña" | translate }}</ion-label>
        <div class="input">
          <ion-input formControlName="new_password" type="password"
            placeholder="{{ 'Placeholder Nueva contraseña' | translate }}">
            <ion-input-password-toggle color="dark" slot="end"></ion-input-password-toggle>
          </ion-input>
        </div>
        <ion-text color="danger" *ngIf="form.get('new_password')?.touched && form.get('new_password')?.invalid">
          <p *ngIf="form.get('new_password')?.errors?.['required']">{{ "Contraseña obligatoria" | translate }}</p>
          <p *ngIf="form.get('new_password')?.errors?.['minlength']">{{ "Contraseña invalida" | translate }}</p>
        </ion-text>
      </div>

      <!-- Confirmar Contraseña -->
      <div class="input-formularios">
        <ion-label>{{ "Confirmar Contraseña" | translate }}</ion-label>
        <div class="input">
          <ion-input formControlName="confirm_password" type="password"
            placeholder="{{ 'Placeholder Confirmar Contraseña' | translate }}">
            <ion-input-password-toggle color="dark" slot="end"></ion-input-password-toggle>
          </ion-input>
        </div>
        <ion-text color="danger" *ngIf="form.errors?.['passwordsMismatch'] && form.touched">
          <p>{{ "Confirmar Contraseña invalida" | translate }}</p>
        </ion-text>
      </div>

      <ion-row class="ion-padding-botton mt-6">
        <ion-col size="12">
          <ion-button [disabled]="form.invalid || isSubmitting" expand="block" class="gradient-btn" mode="ios" type="submit">
            {{ "Cambiar contraseña" | translate }}
            <ion-icon slot="end" name="log-in-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </form>

  </div>

  <br><br><br>

</ion-content>
